doctype transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title | #{SUBJECT}
  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0', style='margin: 0pt auto; padding: 0px; background:#F4F7FA;')
    h3(style = "color: red") 歡迎加入YS青年職涯發展中心會員官網

    img(src="https://i.imgur.com/37hQlJg.jpg", width="300px")

    p(style='color:#48545d;font-size:14px;line-height:24px;')
      | #{DESCRIPTION}

    span
      a(href=`${VERIFY_URL}`) #{LINK_TEXT} < #{VERIFY_URL} >

    h4(style = "color: red") 加入青年職涯發展中心擁有多元職涯資源
    h4(style = "color: red") 提供各行各業職場情報與多元講座

    p(style='color:#a2a2a2; font-size:12px; line-height:17px; font-style:italic;')
      | #{HINT}


    p Youth Salon < https://kys.wda.gov.tw/ > #{YEAR}
